<table class="table">
    <thead>
        <th>
            功能
        </th>
        <th>
            描述
        </th>
    </thead>
    <tbody>
        <tr>
            <td><%= link_to 'Ping', ping_path%></td>
            <td></td>
        </tr>

        <tr>
            <td><%= link_to 'Traceroute', traceroute_path%></td>
            <td></td>
        </tr>
        <tr>
            <td><%= link_to 'Dig', dig_path%></td>
            <td></td>
        </tr>
        <tr>
            <td><%= link_to 'Connection', connection_path%></td>
            <td></td>
        </tr>
    </tbody>
</table>
